@tailwind base;
@tailwind components;
@tailwind utilities;


.valorant-gradient {
  background: linear-gradient(135deg, #ff0000, #ff2626, #ff5454);
  -webkit-background-clip: text;
  -webkit-text-fill-color:  transparent;
  /* valorant gradient */
}

@font-face {
  font-family: 'Valorant';
  src: url('./fonts/Valorant.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    @apply font-valorant; 
  }
}